<div class="generator-field">
    {{content && contentType !== 'tier' ? content.name : fieldTitle}}
    <span *ngIf="content && contentType === 'tier'">{{content.name}}</span>
    <div class="image-container" *ngIf="content !== null && contentType !== 'tier'">
        <img *ngIf="contentType !== 'tier' && content !== null" [src]="content.imgUrl" alt="xd" width="100wv" id="nation-img" />
    </div>
    <p *ngIf="!content">Choose {{contentType}}</p>
    <app-button content={{contentType}} (btnClick)="randomize()"></app-button>
</div>
